body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.content {
    width: 50%;
    padding: 20px;
    text-align: left;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
}

pre.code {
    background-color: black;
    color: #FFFF00;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    padding: 10px 0;
    white-space: pre-wrap;
    line-height: 1.5;
    margin: 10px 0;
}


